@import '../node_modules/antd/dist/antd.css';

body {
  background: lightgrey;
}

.layout {
  height: 100vh;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.search-background {
  background-image: url('/img/brooke-lark-08bOYnH_r_E-unsplash_croped.jpg');
  /* background-position: -300px 0px; */
  background-repeat: no-repeat;
  display: flex;
}

/* .search-background h2 {
  padding-left: 110px;
} */
