@import '../node_modules/antd/dist/antd.css';

body {
  background: lightgrey;
}

.layout {
  height: 100vh;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  display: flex;
  justify-content: center;
}
