@import '../node_modules/antd/dist/antd.css';

body {
  background: lightgrey;
}

.layout {
  min-height: 100vh;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.search-background {
  background: url('/img/brooke-lark-08bOYnH_r_E-unsplash_croped.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  min-height: 100vh;
}

.Recipe_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Favorites_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ant-layout-footer {
  height: 50px;
  padding: 15px 0px 10px;
}

.SignUp_Container {
  border-radius: 10px;
  padding: 5rem;
  margin: 5rem;
  background-color: #fff;
}

.Login_Container {
  border-radius: 10px;
  padding: 10rem;
  margin: 5rem;
  background-color: #fff;
}